<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/index.scss">
  <meta name="theme-color" content="#fafafa">

  <script src="https://unpkg.com/jquery@3.1.1/dist/jquery.js"></script>
  <script src="https://unpkg.com/underscore@1.5.1/underscore.js"></script>
  <script src="https://unpkg.com/backbone@1.0.0/backbone-min.js"></script>
  <script src="js/plugins.js" async></script>
  <script src="js/main.js" async></script>
</head>
<body>

<!-- Add your site or application content here -->
<div class="wrapper">
  <header id="title" class="clearfix">
    <div id="inner-title">
      <div id="inner-title-h1">
        <h1>Lightning <img src="img/lightning.png" alt="lightning bolt"/></h1>
        <h2>Image compression</h2>
      </div>
      <h3>Upload an image, optimize the PNG or JPEG, create a data URI</h3>
    </div>
    <div id="console"></div>
  </header>
  <main id="wrapper">
    <div id="file-wrapper">
      <div class="file-wrapper-inside">
        <p>Click to browse for a file or drag and drop</p>
      </div>
      <input type="file" id="input" draggable="true">
    </div>
  <!--  <div class="png-checkbox clearfix">
      <div class="checked-slider">
        <input type="checkbox" value="None" id="nopng" name="nopng"/>
        <label for="nopng"></label>
        <p>Turn off PngCrush</p>
      </div>
    </div>-->
    <div class="output clearfix" id="output">
      <img src="img/holding-image.svg" width="783" height="596" alt="instructions" id="instructions-image"/>

      <div id="instructions">
        <div id="inner-instructions">
          <p>Lightning.sx converts PNG, JPEG and Gif images to a data URI. If the image is a PNG it uses a
            client-side JavaScript port of PngCrush to optimise your image first.</p>
          <p>It works fine in Firefox and Chrome on Mac and Windows. It does work in IE10 but using client-side
            PngCrush in this browser takes forever and a day. Works fine using Mac Safari but not on
            Windows.</p>
        </div>
      </div>
      <div id="credits">
        <a href="https://andywalpole.me/">Created by Andy Walpole</a>
      </div>
    </div>
  </main>
</div>

<div id="holding-image">
  <div id="holding-image-inner">
    <img src="img/main-image.png" height="622" width="622"
         alt="The PNG image is being optimized. Hold on, it's coming"/>
  </div>
</div>
<div id="holding-background"></div>
<script id="errorWrapper" type="text/template">
  <div class="inner-error">
    <img src="img/error-message.png" width="647" height="704"
         alt="Mister, I hear if you upload anything other PNG, GIF or JPEGs then the sheriff is gonna start shooting kittens"/>
  </div>
</script>
<script id="outputWrapper" type="text/template">
  <div class="left">
    <div class="image-name"><%- imageName %></div>
    <div class="dataURI">
      <pre><%= dataURI %></pre>
    </div>
    <div class="image-info">
      <p><span>Original file size:</span> <%= originalImageSize %> bytes</p>
      <% if (fileSizeReduction !== null) { %>
      <p><span>After optimisation:</span> <%= fileSizeReduction %></p>
      <% } else { %>
      <p><span>No image optimisation has taken place</span></p>
      <% } %>
      <p><span>Data URI size:</span> <%= dataURIsize %> bytes</p>
      <% var elapsed = (end - start) / 1000 %>
      <p>Processed in <% print (elapsed) %> seconds</p>
      <% if (fileSizeReduction !== null && (originalImageSize < dataURIsize)) { %>
      <p class="last">If the image has been optimised then why is the returned data URI still
        larger?</p>
      <p class="last-hidden">Data URIs are always bigger than an image. So, even though the image has been shrunk,
        once it is converted to a data URI it may still be larger</p>
      <% } %>
    </div>

  </div>
  <div class="right">
    <div class="right-image">
      <a href="<%= dataURI %>" download="<%- imageName %>">
        <img src="<%= dataURI %>"/>
      </a>
      <p>Left click on the above image to download</p>
    </div>
  </div>

</script>



<!--  <script src="js/vendor/jquery-underscore-bacbone.js"></script>
  <script src="js/backbone/config/config.js"></script>-->
<!--  <script src="js/backbone/models/models.js"></script>
  <script src="js/backbone/views/AddImage.js"></script>
  <script src="js/backbone/views/Worker.js"></script>
  <script src="js/backbone/views/ImageDetails.js"></script>
  <script src="js/backbone/init/init.js"></script>-->

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
